<%= form_for([@hero, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="star-rating"></div>

  <div class="form-group">
    <%= f.label :Comentário %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Enviar Comentário", class:"btn btn-success" %>
  </div>
<% end %>

<script>
$('#star-rating').raty({
  path: 'https://s3.amazonaws.com/yap-yelpdemo/stars',
  scoreName: 'review[rating]'
});
</script>
