<h2>Entrar</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :Email %>
    <%= f.email_field :email, autofocus: true, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :Senha %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :Lembrar %>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Entrar", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
