<h2>Editar Usuário</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :Primeiro_Nome %><br />
      <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :Ultimo_Nome %><br />
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :Email %><br />
      <%= f.email_field :email, class: "form-control" %>
    </div>
        
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :Senha %> <i>(Deixe em branco caso não deseje mudar)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres mínimos</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :Confirmar_Senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Senha_atual %> <i>(Precisamos da sua senha atual para confirmar a mudança)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Atualizar", class: "btn btn-success" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Insatisfeito? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza ?" }, method: :delete, class: "btn btn-danger" %></p>

<%= link_to "Voltar", :back %>
