<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Wiki Dota", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Heróis", heros_path %></li>
        <li><%= link_to "Contato", pages_contact_path %></li>
      </ul>
      <form class="navbar-form navbar-left">
        <!-- <div class="input-group">
          <%= form_tag(heros_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Heroes", class: 'form-control' %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class: 'btn btn-default' %>
          </span>
          <% end %>
        </div>           -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Editar Perfil", edit_user_registration_path %></li>
          <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Entrar", new_user_session_path %></li>
          <li><%= link_to "Registrar-se", new_user_registration_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
