<%= form_for(@hero, :html => {multipart: true}) do |f| %>
  <% if @hero.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      <h4><%= pluralize(@hero.errors.count, "error") %> prohibited this hero from being saved:</h4>

      <ul>
      <% @hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Nome %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Atributo_Primário %><br>
    <%= f.text_field :main_att, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Força_Básica %><br>
    <%= f.text_field :str_base, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Inteligencia_Básica %><br>
    <%= f.text_field :int_base, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Agilidade_Básica %><br>
    <%= f.text_field :agi_base, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Descrição %><br>
    <%= f.text_area :coment, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Imagem %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Criar Herói", class:"btn btn-success" %>
  </div>
<% end %>
