<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @hero.image_url %>

    <h2>
      <%= @hero.name %>
    </h2>

    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p><%= "#{@reviews.length} Comentários" %> </p>

    <p>
      <strong>Atributo Primário:</strong>
      <%= @hero.main_att %>
    </p>

    <p>
      <strong>Força básica base:</strong>
      <%= @hero.str_base %>
    </p>

    <p>
      <strong>Inteligencia básica:</strong>
      <%= @hero.int_base %>
    </p>

    <p>
      <strong>Agilidade básica:</strong>
      <%= @hero.agi_base %>
    </p>

    <%= link_to 'Escrever Comentário', new_hero_review_path(@hero), class: "btn btn-primary" %>

  </div>

  <div class="col-md-9">
    <p>
      <strong><h2>Descrição do Herói:</h2></strong>
      <%= @hero.coment %>
    </p>
    <% if @reviews.blank? %>
    <h3>Sem comentários sobre o Herói. Seja o Primeiro <h3/>
      <% else %>
      <table class= "table">
        <h3>Comentários sobre o Herói: </h3>
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>

        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <td>
              <h4>
                <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
              </h4>
              <p><%= review.created_at.strftime("%-d/%-m/%y") %></p>
            </td>


            <td>
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe  %></p>
              <% if user_signed_in? %>
                <% if (review.user == current_user) || (current_user.admin?)%>
                  <%= link_to "Editar", edit_hero_review_path(@hero, review) %>
                  <%= link_to "Deletar", hero_review_path(@hero, review), method: :delete %>
                <%end%>
              <%end%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <%end %>

  </div>
</div>




<%= link_to 'Edit', edit_hero_path(@hero), class: "btn btn-link" %> |
<%= link_to 'Back', heros_path, class: "btn btn-link" %>

<script>
$('.star-rating').raty({
  readOnly: true,
  path: 'https://s3.amazonaws.com/yap-yelpdemo/stars',
  score: function (){
    return $(this).attr('data-score');
  }
});
</script>
