.jumbotron {
  background-color: #1c1a1b;
  border: 2px solid #010101;
  h1 {
    color: #0b9245;
    font-weight: bold;
  }
  h2 {
    color: #0b9245;
    font-weight: bold;
  }
  h3 {
    color: #0b9245;
    font-weight: bold;
  }
}

.navbar-default {
  .container-fluid {
    background-color: #0b9245;
    .navbar-nav > li > a {
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }
    .navbar-brand {
      color: black;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Hobo Std';
    }
  }
}


.container-fluid {
  padding: 10px 120px;
}
